In [34]:
import pandas as pd
import numpy as np
import scipy as sp

In [6]:
no_business= pd.read_csv("no_business.csv")
no_review=pd.read_csv("no_review.csv")

In [8]:
no_review["year"]=no_review["date"].apply(lambda x: x[0:4])
business_year_open=no_review.groupby("business_id").min().reset_index()[["business_id","year"]]
business_year_open["year"]= business_year_open["year"].apply(lambda x:int(x))
business_year_open

                 business_id  year
0     --S43ruInmIsGrnnkmavRw  2010
1     --x_BmZbxzK_nx_GHBaRVw  2011
2     --zb12mw2YK-7j6UaHzm8w  2019
3     -0__F9fnKt8uioCKztF5Ww  2016
4     -0ltw8--HLuulPyOSspqAQ  2010
...                      ...   ...
6211  zyRXfBnoE1JZVN4SE7OaaA  2007
6212  zynDyrQvFZfbf5m4_Usl5g  2019
6213  zyrhpLocbo60EbS57jBTLw  2009
6214  zzbZtgPYZS8sTIWQH6DwEw  2006
6215  zznZqH9CiAznbkV6fXyHWA  2020

[6216 rows x 2 columns]

In [10]:
business_year_open_post_2020= business_year_open [business_year_open["year"]>=2020]
business_year_open_pre_2020= business_year_open [business_year_open["year"]<2020]

In [15]:
business_year_open_post_2020_zip=business_year_open_post_2020.merge(no_business, on="business_id")[["business_id","year","postal_code"]]
business_year_open_post_2020_zip

                business_id  year  postal_code
0    -YxrHNjPHfha1h2Kvm_G0w  2021      70127.0
1    -_1ctmwdtSpjfpFu0pHXzw  2021      70130.0
2    -cDE_lW8Om8w0YIUriXXMg  2020      70130.0
3    -o26vX9NOeGaBC2lEKZD1A  2021      70122.0
4    085mjp-y4qmKRMIj72x8xw  2020      70130.0
..                      ...   ...          ...
231  zVUgD30JzlxUke3IHTlGTg  2021      70119.0
232  zbNa-poXHF9zR6M7tnxjPA  2020      70124.0
233  zosNEQ3FQZ3xZ6Bc1OCftQ  2020      70119.0
234  zqGEI72ihSB6uipAlE9opQ  2021      70130.0
235  zznZqH9CiAznbkV6fXyHWA  2020      70119.0

[236 rows x 3 columns]

In [16]:
post_2020_new_business=business_year_open_post_2020_zip.groupby(["postal_code"]).count().reset_index()[["postal_code","business_id"]]
post_2020_new_business=post_2020_new_business.rename(columns={"business_id":"post_2020"})
post_2020_new_business=post_2020_new_business.sort_values("postal_code")
post_2020_new_business["postal_code"]=post_2020_new_business["postal_code"].apply(lambda x:int(x))
post_2020_new_business

    postal_code  post_2020
0         70112         15
1         70113          9
2         70114          5
3         70115         35
4         70116         27
5         70117         15
6         70118         13
7         70119         25
8         70121          1
9         70122          3
10        70123          2
11        70124          7
12        70125          9
13        70126          7
14        70127          2
15        70128          2
16        70130         57
17        70131          1

In [17]:
business_year_open_pre_2020_zip=business_year_open_pre_2020.merge(no_business, on="business_id")[["business_id","year","postal_code"]]
business_year_open_post_2020_zip

                business_id  year  postal_code
0    -YxrHNjPHfha1h2Kvm_G0w  2021      70127.0
1    -_1ctmwdtSpjfpFu0pHXzw  2021      70130.0
2    -cDE_lW8Om8w0YIUriXXMg  2020      70130.0
3    -o26vX9NOeGaBC2lEKZD1A  2021      70122.0
4    085mjp-y4qmKRMIj72x8xw  2020      70130.0
..                      ...   ...          ...
231  zVUgD30JzlxUke3IHTlGTg  2021      70119.0
232  zbNa-poXHF9zR6M7tnxjPA  2020      70124.0
233  zosNEQ3FQZ3xZ6Bc1OCftQ  2020      70119.0
234  zqGEI72ihSB6uipAlE9opQ  2021      70130.0
235  zznZqH9CiAznbkV6fXyHWA  2020      70119.0

[236 rows x 3 columns]

In [19]:
pre_2020_new_business=business_year_open_pre_2020_zip.groupby(["postal_code"]).count().reset_index()[["postal_code","business_id"]]
pre_2020_new_business=pre_2020_new_business.rename(columns={"business_id":"pre_2020"})
pre_2020_new_business=pre_2020_new_business.sort_values("postal_code")
pre_2020_new_business["postal_code"]=pre_2020_new_business["postal_code"].apply(lambda x:int(x))
pre_2020_new_business

    postal_code  pre_2020
0         70001         6
1         70002         4
2         70005         7
3         70006         4
4         70016         1
5         70017         1
6         70032         6
7         70053         2
8         70056         5
9         70058         4
10        70062         2
11        70065         2
12        70072         2
13        70112       419
14        70113       143
15        70114       112
16        70115       780
17        70116       643
18        70117       329
19        70118       423
20        70119       579
21        70121        67
22        70122       127
23        70123       121
24        70124       218
25        70125       149
26        70126        96
27        70127        70
28        70128        54
29        70129        20
30        70130      1454
31        70131        45
32        70132         1
33        70139         8
34        70140         2
35        70141         2
36        70148         4
37        70151         1
38        70152         1
39        70156         1
40        70157         1
41        70158         1
42        70163         3
43        70165         1
44        70170        24
45        70172         1
46        70174         1
47        70175         1
48        70177         2
49        70179         3
50        70185         1
51        70187         1
52        70195        18
53        70458         1
54        78704         1
55        79115         1

In [21]:
businesses_by_year=pre_2020_new_business.merge(post_2020_new_business,on = "postal_code",how="outer")
businesses_by_year=businesses_by_year.fillna(0)
businesses_by_year

    postal_code  pre_2020  post_2020
0         70001         6        0.0
1         70002         4        0.0
2         70005         7        0.0
3         70006         4        0.0
4         70016         1        0.0
5         70017         1        0.0
6         70032         6        0.0
7         70053         2        0.0
8         70056         5        0.0
9         70058         4        0.0
10        70062         2        0.0
11        70065         2        0.0
12        70072         2        0.0
13        70112       419       15.0
14        70113       143        9.0
15        70114       112        5.0
16        70115       780       35.0
17        70116       643       27.0
18        70117       329       15.0
19        70118       423       13.0
20        70119       579       25.0
21        70121        67        1.0
22        70122       127        3.0
23        70123       121        2.0
24        70124       218        7.0
25        70125       149        9.0
26        70126        96        7.0
27        70127        70        2.0
28        70128        54        2.0
29        70129        20        0.0
30        70130      1454       57.0
31        70131        45        1.0
32        70132         1        0.0
33        70139         8        0.0
34        70140         2        0.0
35        70141         2        0.0
36        70148         4        0.0
37        70151         1        0.0
38        70152         1        0.0
39        70156         1        0.0
40        70157         1        0.0
41        70158         1        0.0
42        70163         3        0.0
43        70165         1        0.0
44        70170        24        0.0
45        70172         1        0.0
46        70174         1        0.0
47        70175         1        0.0
48        70177         2        0.0
49        70179         3        0.0
50        70185         1        0.0
51        70187         1        0.0
52        70195        18        0.0
53        70458         1        0.0
54        78704         1        0.0
55        79115         1        0.0

In [22]:
no_demand_score= pd.read_csv("no_demand_score_pre_2020.csv")[["business_id","postal_code","total_demand_score","missing_demand_score"]]

In [27]:
no_demand_score_zip=no_demand_score.groupby("postal_code").sum().reset_index()[["postal_code","total_demand_score","missing_demand_score"]]
no_demand_score_zip["postal_code"]=no_demand_score_zip["postal_code"].apply(lambda x:int(x))
no_demand_score_zip

    postal_code  total_demand_score  missing_demand_score
0         70001                1440                    73
1         70002                  61                     0
2         70005                 210                    53
3         70032                 172                    18
4         70053                 323                    75
5         70056                 716                   169
6         70058                 266                   104
7         70062                 463                   172
8         70065                  94                    29
9         70072                  41                     0
10        70112              208069                 33729
11        70113               52527                  8197
12        70114               19300                  2701
13        70115              340433                 49300
14        70116              510847                 68511
15        70117              125872                 17505
16        70118              168565                 26116
17        70119              242844                 33382
18        70121               10358                  1822
19        70122               18640                  3414
20        70123               17752                  3536
21        70124               71037                 10756
22        70125               32461                  5653
23        70126                9149                  1895
24        70127                6336                   963
25        70128                4462                  1378
26        70129                5138                   471
27        70130             1181994                188164
28        70131                5574                   837
29        70132                 213                    10
30        70139                1558                   349
31        70140               12266                  2597
32        70148                1639                   217
33        70151                 120                     0
34        70152                 131                    51
35        70156                 533                    46
36        70163                 361                    58
37        70165                1034                   726
38        70170                3278                   553
39        70174                 471                    66
40        70179                 524                    55
41        70185                 117                    28
42        70195               18502                  2671
43        79115                  23                     0

In [31]:
businesses_by_year_demand=no_demand_score_zip.merge(businesses_by_year,on="postal_code",how="inner")
businesses_by_year_demand=businesses_by_year_demand.sort_values("post_2020",ascending=False).reset_index(drop=True)
businesses_by_year_demand

    postal_code  total_demand_score  missing_demand_score  pre_2020  post_2020
0         70130             1181994                188164      1454       57.0
1         70115              340433                 49300       780       35.0
2         70116              510847                 68511       643       27.0
3         70119              242844                 33382       579       25.0
4         70117              125872                 17505       329       15.0
5         70112              208069                 33729       419       15.0
6         70118              168565                 26116       423       13.0
7         70113               52527                  8197       143        9.0
8         70125               32461                  5653       149        9.0
9         70124               71037                 10756       218        7.0
10        70126                9149                  1895        96        7.0
11        70114               19300                  2701       112        5.0
12        70122               18640                  3414       127        3.0
13        70128                4462                  1378        54        2.0
14        70127                6336                   963        70        2.0
15        70123               17752                  3536       121        2.0
16        70131                5574                   837        45        1.0
17        70121               10358                  1822        67        1.0
18        70195               18502                  2671        18        0.0
19        70151                 120                     0         1        0.0
20        70152                 131                    51         1        0.0
21        70156                 533                    46         1        0.0
22        70163                 361                    58         3        0.0
23        70185                 117                    28         1        0.0
24        70179                 524                    55         3        0.0
25        70140               12266                  2597         2        0.0
26        70174                 471                    66         1        0.0
27        70170                3278                   553        24        0.0
28        70165                1034                   726         1        0.0
29        70148                1639                   217         4        0.0
30        70001                1440                    73         6        0.0
31        70139                1558                   349         8        0.0
32        70132                 213                    10         1        0.0
33        70129                5138                   471        20        0.0
34        70002                  61                     0         4        0.0
35        70072                  41                     0         2        0.0
36        70065                  94                    29         2        0.0
37        70062                 463                   172         2        0.0
38        70058                 266                   104         4        0.0
39        70056                 716                   169         5        0.0
40        70053                 323                    75         2        0.0
41        70032                 172                    18         6        0.0
42        70005                 210                    53         7        0.0
43        79115                  23                     0         1        0.0

In [33]:
new_business_rank= list(businesses_by_year_demand.index)
missing_demand_rank=np.argsort(-np.array(businesses_by_year_demand["missing_demand_score"]))

In [35]:
sp.stats.kendalltau(new_business_rank, missing_demand_rank)

SignificanceResult(statistic=0.6469344608879493, pvalue=6.019150126423467e-10)